{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue sur mon site espèce d'étranger
{% endblock %}

{% block header%}
    <h2>Voici rien...</h2>
{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-4">Bienvenue sur Etranger.net !</h1>
        <p class="lead">J'espère tu va bien étranger !</p>
        <hr class="my-4">
        <p>Vous êtes étranger ? Cliquez</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos contacts</a>
    </div>
{% endblock %}